.vscode/

ptarmapi/node_modules
ptarmapi/package-lock.json

.Depend
*.o
*.a
*.log
*.so
*.gcno
*.gcda
GPATH
GRTAGS
GSYMS
GTAGS
tags
/html
a.out
.gdbinit
dbptarm
logs
ptarm_node_*.conf
*.swp
*.swo
*.swn
.exrc
