_build/
_ggtest/
/libs/*
/install/
/tests/
.vscode/

ptarmd/ptarmd
ptarmcli/ptarmcli
showdb/showdb
routing/routing

jni/classes/*
jni/node

.Depend
*.o
*.a
*.log
*.so
*.gcno
*.gcda
GPATH
GRTAGS
GSYMS
GTAGS
tags
/html
a.out
.gdbinit
dbptarm
logs
ptarm_node_*.conf
*.swp
.exrc
