_build/
*.log
ucoind/ucoind
ucoincli/ucoincli
.Depend
ucoind/dbchannel/
conf/
ucoind/dbucoin/
ucoind/showdb
ucoind/node_*/
/libs/libucoin.a
/*.txt
/libs/install/
/showdb/showdb
/install/
.vscode/c_cpp_properties.json
routing/routing
