[submodule "ucoin/libs/mbedtls"]
	path = ucoin/libs/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "ucoin/libs/libbase58"]
	path = ucoin/libs/libbase58
	url = https://github.com/luke-jr/libbase58.git
[submodule "ucoin/libs/libsodium"]
	path = ucoin/libs/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "ucoin/libs/lmdb"]
	path = ucoin/libs/lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "libs/jsonrpc-c"]
	path = libs/jsonrpc-c
	url = https://github.com/nayutaco/jsonrpc-c.git
[submodule "libs/inih"]
	path = libs/inih
	url = https://github.com/benhoyt/inih.git
	ignore = dirty
