[submodule "libs/mbedtls"]
	path = libs/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "libs/libbase58"]
	path = libs/libbase58
	url = https://github.com/luke-jr/libbase58.git
[submodule "libs/libsodium"]
	path = libs/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "libs/lmdb"]
	path = libs/lmdb
	url = https://github.com/LMDB/lmdb.git
